<div class="flex justify-content-center p-5">
  <div class="mision border rounded-xl gap-2 p-5">
    <h1 class="px-28 font-semibold">Misión</h1>
    <div class="content flex">
      <img
        class="rounded-full"
        src="https://picsum.photos/900"
        alt=""
        width="100px"
      />
      <p class="pl-4">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, ab
        quae. Similique libero consequatur fugiat corporis qui maiores iure
        architecto repudiandae reiciendis! Laboriosam nobis quasi esse, eligendi
        voluptate autem rem.
      </p>
    </div>
  </div>
  <div class="mision border rounded-lg p-5">
    <h1 class="px-28 font-semibold">Visión</h1>
    <div class="content flex">
      <img
        class="rounded-full"
        src="https://picsum.photos/800"
        alt=""
        width="100px"
      />
      <p class="pl-3">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium, ab
        quae. Similique libero consequatur fugiat corporis qui maiores iure
        architecto repudiandae reiciendis! Laboriosam nobis quasi esse, eligendi
        voluptate autem rem.
      </p>
    </div>
  </div>
</div>
